p.dotted {border-style: dotted;border-color: red;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}

h4 {
    color: antiquewhite;
}

h5 {
    color: rgb(8,5,1);
}

.kotak1 {
    border: 1px solid black;
    background-color: lightblue;
}

.kotak2 {
    border: 1px solid black;
    padding: 40px;
    background-color: lightblue;
}

.kotak3 {
    border: 1px solid black;
    background-color: rgb(1, 34, 46);
}

.kotak4 {
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(1, 34, 46);
}

.gambar {
    width: 200px;
    float: left;
    margin-right: 10px;
}
